.student-list{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	a{
		margin: 10px;
		padding: 8px 14px;
		color: $onPrimary;
		border: none;
		background-color: $primary;
		text-decoration: none;
		&:hover{
			background-color: $secondary;
			color: $onSecondary;
		}
	}

	.grades{
		width: 50%;
		margin-bottom: 20px;
		.head{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $onPrimary;
			background-color: $primary;
		}
		.body{
			width: 100%;
			height: 100%;
			table.hidden{
				display: none;
			}
			table.shown{
				width: 100%;
				height: 100%;
				border-collapse: collapse;
				background-color: $surface;
				tr{
					width: 100%;
				}
				td, th{
					border-bottom: 1px solid $onSurface;
					padding: 10px;
				}
			}
		}
	}
}
.add-grades{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
