/*
// ============= Purple color scheme ================= 
$primary: #462b61;
$priaryVariant: white;
$onPrimary: #ffffff;

$secondary: #9269c4;
$secondaryVariant: white;
$onSecondary: black;

$background: #121212;
$onBackground: #b5b5b5;

$surface: #2e2e2e;
$onSurface: #b5b5b5;

$error: red;
$onError: black;
//==============================================================
*/


// =============== White color scheme ==================
$primary: #272727;
$primaryVariant: white;
$onPrimary: #ffffff;

$secondary: #5052c4;
$secondaryVariant: white;
$onSecondary: black;

$background: #dfdfdf;
$onBackground: #1f1f1f;

$surface: #c2c2c2;
$onSurface: #000000;

$error: red;
$onError: black;
