// =========== Purple color scheme ==========================
/*
$window-background: #0f040d;

$side-nav-background: #100007;
$side-nav-focus-background: #34003b;

$text-color: #b5b5b5;
$text-focus-color: #b5b5b5;

$element-background: #0f0a0e;

$button-background: #51085e;
$button-focus-background: #27032e;
*/
// ==========================================================

// Another color scheme 
$window-background: #121212;

$side-nav-background: #1F1A24;
$side-nav-focus-background: #BB86FC;

$text-color: #b5b5b5;
$text-focus-color: black;

$element-background: #2e2e2e;

$button-background: #51085e;
$button-focus-background: #27032e;
