.Course-List{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Course-Info-Item{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
	margin: 20px;
	.Course-Header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $onPrimary;
		background-color: $primary;
		flex: 1;
	}
	.Course-Header a{
		font-size: 2em;
		color: $onPrimary;
	}
	.Course-Body{
		display: flex;
		background-color: $surface;
		flex-direction: column;
		border-left: 2px solid $primary;
		border-right: 2px solid $primary;
		border-bottom: 2px solid $primary;
		flex: 2;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			color: $onSurface;
			text-decoration: none;
			margin: 10px;
			&:hover {
				color: $secondary;
			}
		}
	}
}

.Course{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.NavBar{
		display: flex;
		flex-direction: column;
		ul{
			display: flex;
			align-self: center;
			flex-direction: row;
			list-style-type: none;
			a{
				border-bottom: 1px solid white;
				padding: 30px;
				color: $onBackground;
				text-decoration: none;
				margin: 30px;
				transition: 0.2s;
				&:hover{
					border-color: $secondary;
					color: $onBackground;
					border-width: 3px;
					font-size: 20px;
				}
				&.active{
					color: $onBackground;
					border-color: $secondary;
					border-width: 3px;
					font-size: 20px;
				}
			}
		}
	}
}
.Post-List{
	display: flex;
	flex-direction: column;
	align-items: center;
	.Post-Item{
		border-radius: 20px;
		background-color: $surface;
		margin: 30px;
		width: 50%;
		.header{
			padding: 20px;
			text-align: start;
			align-self: flex-start;
			border-bottom: 1px solid gray;
		}
		.body{
			padding: 20px;
			text-align: start;
		}
	}
}

.Attendance-Sessions, .Attendance-Session{
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;

	th, td{
		border-bottom: 1px solid $onBackground;
		padding: 20px;
	}
	td{
		background-color: $surface;
	}
	button{
		padding: 8px 14px;
		color: $onPrimary;
		border: none;
		background-color: $primary;
		&:hover{
			background-color: $secondary;
			color: $onSecondary;
		}
	}
}
.Attendance-Session{
	button{
		border-radius: 50%;
		background-color: $surface;
		color: $onSurface;
		&:hover{
			background-color: $primary;
			color: $onPrimary;
		}
	}
}

.File-List{
	margin-top: 70px;
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
		li{
			margin: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 30%;
			padding: 20px;
			background-color: $surface;
			a{
				color: $onSurface;
				border-bottom: 1px solid $onSurface;
				text-decoration: none;
			}
		}
	}
}
