.Course-List{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Course-Info-Item{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
	margin: 20px;
	.Course-Header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $text-focus-color;
		background-color: $side-nav-focus-background;
		flex: 1;
	}
	.Course-Header a{
		font-size: 2em;
		color: $text-focus-color;
	}
	.Course-Body{
		display: flex;
		background-color: $element-background;
		flex-direction: column;
		border-left: 2px solid $side-nav-focus-background;
		border-right: 2px solid $side-nav-focus-background;
		border-bottom: 2px solid $side-nav-focus-background;
		flex: 2;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			text-decoration: none;
			margin: 10px;
			&:hover{
				color: purple;
			}
		}
	}
}

.Course{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.NavBar{
		display: flex;
		flex-direction: column;
		ul{
			display: flex;
			align-self: center;
			flex-direction: row;
			list-style-type: none;
			a{
				border-bottom: 1px solid white;
				padding: 30px;
				color: $text-color;
				text-decoration: none;
				margin: 30px;
				transition: 0.2s;
				&:hover{
					border-color: $side-nav-focus-background;
					color: $side-nav-focus-background;
					border-width: 3px;
					font-size: 20px;
				}
				&.active{
					color: $side-nav-focus-background;
					border-color: $side-nav-focus-background;
					border-width: 3px;
					font-size: 20px;
				}
			}
		}
	}
}
.Post-List{
	display: flex;
	flex-direction: column;
	align-items: center;
	.Post-Item{
		border-radius: 20px;
		background-color: $element-background;
		margin: 30px;
		width: 50%;
		.header{
			padding: 20px;
			text-align: start;
			align-self: flex-start;
			border-bottom: 1px solid gray;
		}
		.body{
			padding: 20px;
			text-align: start;
		}
	}
}

.Attendance-Sessions, .Attendance-Session{
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;

	th, td{
		border-bottom: 1px solid $text-color;
		padding: 20px;
	}
	td{
		background-color: $element-background;
	}
	button{
		padding: 8px 14px;
		color: $text-color;
		border: none;
		background-color: $button-background;
		&:hover{
			background-color: $button-focus-background;
			color: $text-focus-color;
		}
	}
}
.Attendance-Session{
	button{
		background-color: $element-background;
		color: $button-background;
		&:hover{
			background-color: $button-focus-background;
			color: $text-focus-color;
		}
	}
}

.File-List{
	margin-top: 70px;
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
		li{
			margin: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 30%;
			padding: 20px;
			background-color: $element-background;
			a{
				color: $text-color;
				border-bottom: 1px solid $text-color;
				text-decoration: none;
			}
		}
	}
}
