@import "./course";

.Course-List{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Course-Info-Item{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
	margin: 20px;
	.Course-Header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $onPrimary;
		background-color: $primary;
		flex: 1;
	}
	.Course-Header a{
		font-size: 2em;
		color: $onPrimary;
	}
	.Course-Body{
		display: flex;
		background-color: $surface;
		flex-direction: column;
		border-left: 2px solid $primary;
		border-right: 2px solid $primary;
		border-bottom: 2px solid $primary;
		flex: 2;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			color: $onSurface;
			text-decoration: none;
			margin: 10px;
			&:hover {
				color: $secondary;
			}
		}
	}
}

