.course{
	display: flex;
	flex-direction: column;
	justify-content: center;

	.navbar{
		display: flex;
		flex-direction: column;
		ul{
			display: flex;
			align-self: center;
			flex-direction: row;
			list-style-type: none;
			a{
				border-bottom: 1px solid white;
				padding: 30px;
				margin-left: 20px;
				color: $onBackground;
				text-decoration: none;
				transition: 0.2s;
				&:hover{
					border-color: $secondary;
					color: $onBackground;
					border-width: 3px;
				}
				&.active{
					color: $onBackground;
					border-color: $secondary;
					border-width: 3px;
				}
			}
		}
	}
}

.post-list{
	display: flex;
	flex-direction: column;
	align-items: center;
	.post-item{
		border-radius: 20px;
		background-color: $surface;
		margin: 30px;
		width: 50%;
		.header{
			padding: 20px;
			text-align: start;
			align-self: flex-start;
			border-bottom: 1px solid gray;
		}
		.body{
			padding: 20px;
			text-align: start;
		}
	}
}

.sessions, .session{
	margin-top: 50px;
	table{
		width: 100%;
		border-collapse: collapse;
	}

	th, td{
		border-bottom: 1px solid $onBackground;
		padding: 20px;
	}
	td{
		background-color: $surface;
	}
	button, a{
		padding: 8px 14px;
		color: $onPrimary;
		border: none;
		background-color: $primary;
		text-decoration: none;
		&:hover{
			background-color: $secondary;
			color: $onSecondary;
		}
	}
}
.session{
	button{
		border-radius: 50%;
		background-color: $surface;
		color: $onSurface;
		&:hover{
			background-color: $primary;
			color: $onPrimary;
		}
	}
}

.file-list {
	margin-top: 70px;
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
		li{
			margin: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 30%;
			padding: 20px;
			background-color: $surface;
			a{
				color: $onSurface;
				border-bottom: 1px solid $onSurface;
				text-decoration: none;
			}
		}
	}
}

.student-files {
	display: flex;
	flex-direction: column;
	align-items: center;
	.student{
		width: 50%;
		.head{
			padding: 0.1vh;
			background-color: $primary;
			color: $onPrimary;
		}
		.body{
			border: 1px solid $primary;
		}
	}
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
		li{
			margin: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 60%;
			padding: 20px;
			background-color: $surface;
			a{
				color: $onSurface;
				border-bottom: 1px solid $onSurface;
				text-decoration: none;
			}
		}
	}
}

.assignments {
	margin-top: 7vh;
}

