.course-container{
	// flex settings
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: center;
}

.Course-Item{
	width: 70%;
	margin-bottom: 20px;
	border-radius: 10px;

	.head{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px 10px 0 0;
		color: $onPrimary;
		background-color: $primary;
	}

	.body{
		width: 100%;
		height: 100%;
	}

	table{
		width: 100%;
		height: 100%;
		border-collapse: collapse;
		color: $onSurface;
		background-color: $surface;
	}

	th, td{
		border-bottom: 1px solid $onSurface;
		padding: 20px;
	}
}
