&{
	position: absolute;

	// flex settings
	display: flex;
	flex-direction: row;

	// size and color
	border: 1px solid black;
	background-color: $priaryVariant;
	width: 50%;
	height: 50%;
	margin-left: 25%;
	margin-top: 10%;

	.left-pane{
		// flex settings
		display: flex;
		justify-content:center;
		// size and color
		width: 30%;
		background-color: $primary;
		color: $onPrimary;

		h2{
			// center in parent
			margin: auto;
			text-align: center;
		}
	}
	.right-pane{
		// flex options
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin: auto;// center in parent

		input{
			// size and color
			margin: 20px;
			background-color: $priaryVariant;
			color: $onSurface;

			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 3px solid #111;

			outline: none;
		}
		input:focus{
			border-color: $secondary;
		}
		h2{
			// center in parent
			margin: auto;
			text-align: center;
		}
	}
	.button-box{
		// flex settings
		display: flex;
		flex-direction: row;
		justify-content: center;

		button{
			background-color: $secondary;
			border: none;
			color: $priaryVariant;
			width: 30%;
			margin-top: 20px;
			margin-left: 20px;
			padding: 10px;
			border-radius: 4px;
			font-weight: bold;
		}
	}
}
