.table-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.timeline-column{
	margin-top: 70px;
	.element{
		width: 80px;
		height: 100px;
		margin-bottom: 20px;
	}
}
.column{
	h2{
		margin-right: 10px;
		padding: 10px;
		border-bottom: 1px solid $onBackground;
	}
	.element{
		// flex settings
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		// size and background
		width: 200px;
		height: 100px;
		margin-bottom: 20px;
		margin-right: 10px;
		background-color: $surface;

		color: $onSurface;
		// animation transition time
		transition: 0.1s;
	}
	.element:nth-child(even){
		background-color: $secondary;
		color: $onSecondary;
	}

}
