.add-session, .add-grades{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	label {
		width: 40vw;
		display: flex;
		flex-direction: column;
		margin: 0.8rem;
		color: $onBackground;
		input , select{
			width: 90%;
			border: none;
			background-color: $surface;
			color: $onSurface;
			padding: 0.5rem;
			&:focus {
				outline-color: $secondary;
				border: none;
			}
		}
	}
	button{
		padding: 0.8rem;
		border: none;
		background-color: $primary;
		color: $onPrimary;

	}

	table{
		width: 100%;
		border-collapse: collapse;
	}

	th, td{
		border-bottom: 1px solid $onBackground;
		padding: 1rem;
	}
	td{
		background-color: $surface;
	}
}
.horizontal-divider{
	width: 100%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	border-bottom: 3px dotted $primary;
}
