/* Side navigation bar css*/
.sidenav {
	flex-grow:1;
    background-color: $primary;
    padding-top: 20px;
	text-align: left;
	li{
		border: none;
	}
	a {
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
		padding: 6px 6px 6px 32px;
		text-decoration: none;
		font-size: 20px;
		transition: 0.2s;
		color: $onPrimary;
		i{
			margin-right: 10px;
		}
		&:hover, &.active{
			color: $onSecondary;
			background-color: $secondary;
		}
	}
}

.option{
	flex: 9;
}
