$sidenavColor: #100007;


/* Side navigation bar css*/
.sidenav {
	flex-grow:1;
    background-color: $sidenavColor;
    padding-top: 20px;
	li{
		border: none;
	}
	a {
		padding: 6px 6px 6px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
	}
	a:hover, a:focus {
		color: #f1f1f1;
		background-color: #34003b;
	}
}

.option{
	flex: 9;
}
