.Course-List{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Course-Info-Item{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
	margin: 20px;
}
.Course-Info-Item .Course-Header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #40376E;
	flex: 1;
}
.Course-Info-Item .Course-Header a{
	font-size: 2em;
	color: lightgrey;
}
.Course-Info-Item .Course-Body{
	border-left: 2px solid #40376E;
	border-right: 2px solid #40376E;
	border-bottom: 2px solid #40376E;
	flex: 2;
}
.Post-List{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Post-Item{
	border: 1px solid;
	border-radius: 20px;
	border-color: rgb(100, 100, 100);
	background-color: white;
	margin: 30px;
	width: 50%;
}
.Post-Item .header{
	padding: 20px;
	text-align: start;
	align-self: flex-start;
	border-bottom: 1px solid gray;
}
.Post-Item .body{
	padding: 20px;
	text-align: start;
}
