.Course-List{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Course-Info-Item{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
	margin: 20px;
}
.Course-Info-Item .Course-Header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #40376E;
	flex: 1;
}
.Course-Info-Item .Course-Header a{
	font-size: 2em;
	color: lightgrey;
}
.Course-Info-Item .Course-Body{
	border-left: 2px solid #40376E;
	border-right: 2px solid #40376E;
	border-bottom: 2px solid #40376E;
	flex: 2;
}
