.Post-List{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Post-Item{
	border: 1px solid;
	border-radius: 20px;
	border-color: rgb(100, 100, 100);
	background-color: white;
	margin: 30px;
	width: 50%;
}
.Post-Item .header{
	padding: 20px;
	text-align: start;
	align-self: flex-start;
	border-bottom: 1px solid gray;
}
.Post-Item .body{
	padding: 20px;
	text-align: start;
}
